@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.display {
    background: rgba(255, 255, 255, 0.09);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.1px);
    -webkit-backdrop-filter: blur(1.1px);
    border: 1px solid rgba(253, 56, 56, 0.67);
    font-family: 'Poppins', sans-serif;
}